<body>
<div  id="contracttypes-modal" tabindex="-1" class=" hidden fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50" >
  <div class="relative w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
           <div *ngFor="let items of categoriess" class="p-4 md:p-5 space-y-4 border-t border-gray-200 rounded-b dark:border-gray-600"  >
               <button data-modal-target="static-modal" data-modal-toggle="static-modal"   (click)="handleCategoryClick(items)" type="button">{{items.value}}</button>
           </div>
      </div>
  </div>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed hidden inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
    <div class="relative p-4 w-full max-w-3xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{category}}
          </h3>
          <button type="button" (click)="closeModal('static-modal')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" >
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="max-h-[380px] overflow-y-auto p-6 bg-white rounded-lg shadow-md">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <h4 class="">Contract Focus</h4>
            <div class="mb-4 col-span-2">
              <label for="Account" class="block text-sm font-medium text-gray-700">Account</label>
              <input id="Account" name="Account"    type="text" class="mt-1 block w-full rounded-lg" [(ngModel)]="this.newContract.Account">
              <div *ngIf="!newContract.Account && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="client" class="block text-sm font-medium text-gray-700">Client</label>
              <input id="client" name="client" [(ngModel)]="this.newContract.Client" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Client && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="project" class="block text-sm font-medium text-gray-700">Project</label>
              <input id="project" name="Project"  [(ngModel)]="this.newContract.Project" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Project && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="UniqueNo" class="block text-sm font-medium text-gray-700">Unique No</label>
              <input id="UniqueNo"  name="UniqueNo" type="text" [(ngModel)]="this.newContract.UniqueNo" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.UniqueNo && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                Please Fill The Required Field
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button (click)="closeModal('static-modal')" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Close
          </button>
          <button (click)="validateAndProceed('static-modal', 'default-modal')" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 ...">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
  <div  id="default-modal" tabindex="-1" aria-hidden="true"  class="fixed hidden inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50" >
    <div class=" p-4 w-full max-w-3xl max-h-full">
      <div class=" bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{category}}
          </h3>
          <button type="button" (click)="closeModal('default-modal')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="max-h-[380px] overflow-y-auto p-6 bg-white rounded-lg shadow-md">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <h4 class="">Contacts</h4>
            <div class="mb-4 col-span-2">
              <label for="counterPartyOwner" class="block text-sm font-medium text-gray-700">CounterParty Owner</label>
              <input id="counterPartyOwner" name="counterPartyOwner"  [(ngModel)]="this.newContract.CounterPartyOwner" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.CounterPartyOwner && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Provide a Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="CounterParty" class="block text-sm font-medium text-gray-700">CounterParty</label>
              <input id="CounterParty" name="CounterParty" [(ngModel)]="this.newContract.CounterParty" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.CounterParty && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="BuissenessOWnerId" class="block text-sm font-medium text-gray-700">Buissness Owner</label>
              <select id="BuissenessOWnerId" name="BuissenessOWnerId" [(ngModel)]="newContract.BuissenessOWnerId" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>select</option>
                <option *ngFor="let user of usersOwners" [value]="user.id">{{user.value}}</option>
              </select>
              <div *ngIf="!newContract.BuissenessOWnerId && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="LegalOwnerId" class="block text-sm font-medium text-gray-700">Legal Owner</label>
              <select id="LegalOwnerId" name="LegalOwnerId" [(ngModel)]="newContract.LegalOwnerId" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>select</option>
                <option *ngFor="let user of usersOwners" [value]="user.id">{{user.value}}</option>
              </select>
              <div *ngIf="!newContract.LegalOwnerId && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>

          </div>
        </div>
        <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button (click)="previous('default-modal', 'static-modal')" type="button" class="formdetails-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Previous
          </button>
          <button (click)="validateAndProceed('default-modal', 'formdetails-modal')" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 ...">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="formdetails-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-3xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{category}}
          </h3>
          <button type="button" (click)="closeModal('formdetails-modal')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="max-h-[380px] overflow-y-auto p-6 bg-white rounded-lg shadow-md">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <h4 class="">Contract Details</h4>
            <div class="mb-4 col-span-2">
              <label for="Form" class="block text-sm font-medium text-gray-700">Form</label>
              <select id="Form" name="Form" [(ngModel)]="newContract.FormsId" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>Select</option>
                <option *ngFor="let form of forms" [ngValue]="form.id">{{form.value}}</option>
              </select>
              <div *ngIf="!newContract.FormsId && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="Type" class="block text-sm font-medium text-gray-700">Type</label>
              <select id="Type" name="Type" [(ngModel)]="newContract.TypeId" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>Select</option>
                <option *ngFor="let type of types" [value]="type.id">{{type.value}}</option>
              </select>
              <div *ngIf="!newContract.TypeId && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
            <label for="Status" class="block text-sm font-medium text-gray-700">Status</label>
            <select id="Status" name="Status" [(ngModel)]="newContract.StatusId"  class="mt-1 block w-full rounded-lg">
              <option [ngValue]="null" disabled selected>Select</option>
              <option *ngFor="let statuses of status" [ngValue]="statuses.id">{{statuses.value}}</option>
            </select>
            <div *ngIf="!newContract.StatusId && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
               Please Fill The Required Field
            </div>
          </div>
            <div class="mb-4 col-span-1">
              <label for="version" class="block text-sm font-medium text-gray-700">Version</label>
              <input id="version" name="version" [(ngModel)]="this.newContract.Version" type="number" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Version && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="Filename" class="block text-sm font-medium text-gray-700">FileName</label>
              <input id="Filename" name="Filename" [(ngModel)]="this.newContract.Filename"   type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Filename && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="Link" class="block text-sm font-medium text-gray-700">Link</label>
              <input id="Link" name="legalOwner" [(ngModel)]="this.newContract.Link"   type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Link && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button (click)="previous('formdetails-modal','default-modal')" type="button" class="formdetails-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Previous
          </button>
          <button (click)="validateAndProceed('formdetails-modal','status-modal')" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 ...">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="status-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-3xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{category}}
          </h3>
          <button type="button" (click)="closeModal('status-modal')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="max-h-[380px] overflow-y-auto p-6 bg-white rounded-lg shadow-md">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <h4 class="">Classification</h4>
            <div class="mb-4 col-span-2">
              <label for="ContractCode" class="block text-sm font-medium text-gray-700">Contract Code</label>
              <input id="ContractCode" name="ContractCode"  [(ngModel)]="this.newContract.ContractCode" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.ContractCode && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="Value" class="block text-sm font-medium text-gray-700">Value</label>
              <input id="Value" name="Value" [(ngModel)]="this.newContract.Value" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Value && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="LiabilitiesCap" class="block text-sm font-medium text-gray-700">LiabilitiesCap</label>
              <input id="LiabilitiesCap" name="LiabilitiesCap" [(ngModel)]="this.newContract.LiabilitiesCap" type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.LiabilitiesCap && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="Jurisdiction" class="block text-sm font-medium text-gray-700">Jurisdiction</label>
              <input id="Jurisdiction" name="Jurisdiction" [(ngModel)]="this.newContract.Jurisdiction"   type="text" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.Jurisdiction && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="AutoRenewal" class="block text-sm font-medium text-gray-700">AutoRenewal</label>
              <select id="AutoRenewal" name="AutoRenewal" type="boolean" [(ngModel)]="newContract.AutoRenewal" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>select </option>
                <option [ngValue]="true">True</option>
                <option [ngValue]="false">False</option>
              </select>
              <div *ngIf="!newContract.AutoRenewal && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button (click)="previous('status-modal','formdetails-modal')" type="button" class="formdetails-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Previous
          </button>
          <button (click)="validateAndProceed('status-modal','datee-modal')" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 ...">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="datee-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-3xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{category}}
          </h3>
          <button type="button" (click)="closeModal('datee-modal')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="max-h-[380px] overflow-y-auto p-6 bg-white rounded-lg shadow-md">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <h4 class="col-span-2">Dates</h4>
            <div class="mb-4 col-span-1">
              <label for="SigningDate" class="block text-sm font-medium text-gray-700">Signing Date</label>
              <input type="date" id="SigningDate" name="SigningDate" [(ngModel)]="this.newContract.SigningDate" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.SigningDate && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="starting-date" class="block text-sm font-medium text-gray-700">Starting Date</label>
              <input type="date" id="starting-date" name="startingDate" [(ngModel)]="this.newContract.StartingDate" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.StartingDate && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-2">
              <label for="termination-date" class="block text-sm font-medium text-gray-700">Termination Date</label>
              <input type="date" id="termination-date" name="TerminationDate" [(ngModel)]="this.newContract.TerminationDate" class="mt-1 block w-full rounded-lg">
              <div *ngIf="!newContract.TerminationDate && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="RenewalFlagOff" class="block text-sm font-medium text-gray-700">Renewal FlagOff</label>
              <select id="RenewalFlagOff" name="RenewalFlagOff" [(ngModel)]="newContract.RenewalDateFlagOff" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>select </option>
                <option [value]="true">True</option>
                <option [value]="false">False</option>
              </select>
              <div *ngIf="!newContract.RenewalDateFlagOff && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="mb-4 col-span-1">
              <label for="ExpirationLimitId" class="block text-sm font-medium text-gray-700">Expiration Limit</label>
              <select id="ExpirationLimitId" name="ExpirationLimitId" [(ngModel)]="newContract.ExpirationLimitId" class="mt-1 block w-full rounded-lg">
                <option [ngValue]="null" disabled selected>select</option>
                <option *ngFor="let limit of expirationLimit" [value]="limit.id">{{limit.value}}</option>
              </select>
              <div *ngIf="!newContract.ExpirationLimitId && this.submitted"  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button (click)="previous('datee-modal','status-modal')" type="button" class="formdetails-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Previous
          </button>
          <button *ngIf="this.additionalFields==0" data-modal-hide="datee-modal" type="submit" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Submit
          </button>
          <button (click)="validateAndProceed('datee-modal','additional-field-modal')" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 ...">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

  <div id="additional-field-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-3xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            {{category}}
          </h3>
          <button type="button" (click)="closeModal('additional-modal')" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="additional-field-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="h-[380px] modal-body p-6 bg-white rounded-lg shadow-md" >
          <div class="grid gap-4 mb-4 grid-cols-1">
            <h4>Additional Field</h4>
            <form #additionalFieldsForm="ngForm" (ngSubmit)="onAdditionalSubmit(additionalFieldsForm)">
              <div *ngFor="let field of additionalFields" class="mb-4 col-span-1" style="margin-bottom: 7%;">
                <label [for]="field.AdditionalFieldId" class="block text-sm font-medium text-gray-700">{{ field.Value }}</label>
                <input
                  [id]="field.AdditionalFieldId"
                  [name]="field.AdditionalFieldId"
                  [(ngModel)]="field.inputValue"
                  type="text"
                  class="mt-1 block w-full rounded-lg"
                  required
                >
              <div *ngIf="additionalFieldsForm.submitted && !field.inputValue "  class="p-1 mb-1 text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                 Please Fill The Required Field
              </div>
            </div>
            <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button (click)="previous('additional-field-modal','datee-modal')" type="button" class="formdetails-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Previous
              </button>
              <button data-modal-hide="additional-field-modal"  type="submit" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Submit
              </button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
