/* .mat-header-cell.mat-sort-header-sorted {
  color: white !important;
}


.mat-sort-header-arrow {
  color: white !important;
}

.mat-sort-header-arrow .mat-icon {
  fill: white !important;
}


.mat-header-cell {
  background-color: #1976d2 !important;
  color: white !important;
} */
