<!-- <div class="flex justify-center items-center mb-4">
  <div class="p-3 border border-gray-300 rounded-lg shadow-md w-1/5">
    <div class="flex items-center">
      <label for="contractSelect" class="mr-2"
        >Contract: {{ selectedContract.ContractCode }}</label
      >
    </div>
  </div>
  <button>Edit</button>
</div>

<div *ngIf="selectedContract" class="flex flex-col items-center mb-4 w-full">

  <div class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Primary Details</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Counter Party:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.CounterParty }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Counter Party Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.CounterPartyOwner }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Business Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.BusinessOwnerId }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Legal Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.LegalOwnerId }}
      </div>
    </div>
  </div>


  <div class="flex w-full">
    <button
      class="flex-1 px-4 py-2 border-b-2 border-r-2 border-gray-300 rounded-t-lg"

      (click)="setActiveSection('focus')"
    >
      Contract Focus
    </button>
    <button
      class="flex-1 px-4 py-2 border-b-2 border-r-2 border-gray-300"

      (click)="setActiveSection('dates')"
    >
      Dates
    </button>
    <button
      class="flex-1 px-4 py-2 border-b-2 border-gray-300 rounded-t-lg"

      (click)="setActiveSection('classification')"
    >
      Classification
    </button>
    <button
      *ngIf="combinedAdditionalFields.length > 0"
      class="flex-1 px-4 py-2 border-b-2 border-gray-300 rounded-t-lg"
      [ngClass]="{
        'bg-white text-blue-500': activeSection === 'additionalFields',
        'bg-slate-300 text-white': activeSection !== 'additionalFields'
      }"
      (click)="setActiveSection('additionalFields')"
    >
      Additional Fields
    </button>
  </div>


  <div
    *ngIf="activeSection === 'focus'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Contract Focus</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Account:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Account }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Jurisdiction:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.Jurisdiction }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Client:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Client }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Current:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Current }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Project:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Project }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Link:</strong>
      </div>
      <div class="bg-white p-2 rounded">0</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Form:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.FormId }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Status:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.StatusId }}</div>
    </div>
  </div>


  <div
    *ngIf="activeSection === 'dates'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Dates</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Signing Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.SigningDate | date }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Start Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.StartingDate | date }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Termination Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.TerminationDate | date }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Renewal Date Flag Off:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.RenewalDateFlagOff }}
      </div>
    </div>
  </div>

  <div
    *ngIf="activeSection === 'classification'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Classification</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Type:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.TypeId }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Category:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.CategoryId }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Annualized Value:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.AnnualizedValue }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Value:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Value }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Liabilities Cap:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.LiabilitiesCap }}
      </div>
    </div>
  </div>


  <div
    *ngIf="activeSection === 'additionalFields'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Additional Fields</h3>
    <div class="grid grid-cols-4 gap-4">
      <div
        *ngFor="let field of combinedAdditionalFields"
        class="bg-blue-100 p-2 rounded"
      >
        <strong class="opacity-70">{{ field.Value }}:</strong>
        <div class="bg-white p-2 rounded">{{ field.C_Value }}</div>
      </div>
    </div>
  </div>
</div>


<div class="flex w-full gap-4">

  <div class="w-1/2 p-4 border bg-blue-100 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Issues</h3>
    <div class="bg-white p-2 rounded">{{ selectedContract.OpenIssues }}</div>
  </div>


  <div class="w-1/2 p-4 border border-gray-300 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Notes</h3>
    <div class="bg-white p-2 rounded">{{ selectedContract.Notes }}</div>
  </div>
</div> -->
                  <!-- <input id="CounterParty" name="CounterParty"  [(ngModel)]="this.selectedContract.CounterParty" type="text" class="mt-1 block w-full rounded-lg border-none"> -->
          <!-- <input id="CounterParty" name="CounterParty" disabled="true"   [(ngModel)]="this.selectedContract.CounterParty" type="text"  class="block py-0 px-0 mr-3 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required /> -->
          <!-- <input disabled="false" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none" id="CounterParty" name="CounterParty"  [(ngModel)]="this.selectedContract.CounterParty" type="text"  aria-label="Full name"> -->
        <!-- <input id="CounterParty" name="CounterParty"  [(ngModel)]="this.selectedContract.CounterParty" type="text" class="mt-1 block w-full rounded-lg"> -->
        <!-- <input id="CounterParty" name="CounterParty"  [(ngModel)]="this.selectedContract.CounterParty" type="text"  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required /> -->
        <!-- <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" id="CounterParty" name="CounterParty"  [(ngModel)]="this.selectedContract.CounterParty" type="text"  aria-label="Full name"> -->
<button (click)="this.edit()" >edit</button>
<div class="flex justify-center items-center mb-4">
  <div class="p-3 border border-gray-300 rounded-lg shadow-md w-1/5">
    <div class="flex items-center">
      <label for="contractSelect" class="mr-2">Contract: {{ selectedContract.ContractCode }}</label>
    </div>
  </div>
</div>

<div *ngIf="selectedContract" class="flex flex-col items-center mb-4 w-full">
  <!-- New Fields Section -->
  <div class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Primary Details</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Counter Party:</strong>
      </div>
      <div class="bg-white p-2 rounded" style="background-color:lightcyan;">
          <input disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="CounterParty" name="CounterParty"
          [(ngModel)]="this.selectedContract.CounterParty" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Counter Party Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="CounterPartyOwner" name="CounterPartyOwner"
          [(ngModel)]="this.selectedContract.CounterPartyOwner" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Business Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="BuissenessOWnerId" name="BuissenessOWnerId"
        [(ngModel)]="this.selectedContract.BuissenessOWnerId" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Legal Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="LegalOwnerId" name="LegalOwnerId"
        [(ngModel)]="this.selectedContract.LegalOwnerId" type="text" aria-label="Full name" >
      </div>
    </div>
  </div>

  <!-- Section Buttons -->
  <div class="flex w-full">
    <button class="flex-1 px-4 py-2 border-b-2 border-r-2 border-gray-300 rounded-t-lg"  (click)="setActiveSection('focus')">
      Contract Focus
    </button>
    <button class="flex-1 px-4 py-2 border-b-2 border-r-2 border-gray-300" (click)="setActiveSection('dates')" >
      Dates
    </button>
    <button class="flex-1 px-4 py-2 border-b-2 border-gray-300 rounded-t-lg" (click)="setActiveSection('classification')">
      Classification
    </button>
    <button
      *ngIf="combinedAdditionalFields.length > 0"
      class="flex-1 px-4 py-2 border-b-2 border-gray-300 rounded-t-lg"
      [ngClass]="{
        'bg-white text-blue-500': activeSection === 'additionalFields',
        'bg-slate-300 text-white': activeSection !== 'additionalFields'
      }"
      (click)="setActiveSection('additionalFields')"
    >
      Additional Fields
    </button>
  </div>

  <!-- Contract Focus Section -->
  <div *ngIf="activeSection === 'focus'" class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg">
    <h3 class="text-lg font-semibold mb-2">Contract Focus</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Account:</strong>
      </div>
      <div class="bg-white p-2 rounded" style="background-color:white;"  >
        <input   disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Account" name="Account"
        [(ngModel)]="this.selectedContract.Account" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Jurisdiction:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Jurisdiction" name="Jurisdiction"
        [(ngModel)]="this.selectedContract.Jurisdiction" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Client:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Client" name="Client"
        [(ngModel)]="this.selectedContract.Client" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Current:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Current" name="Current"
        [(ngModel)]="this.selectedContract.Current" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Project:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Project" name="Project"
        [(ngModel)]="this.selectedContract.Project" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Link:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Link " name="Link "
        [(ngModel)]="this.selectedContract.Link" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Form:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="FormsId" name="FormsId "
        [(ngModel)]="this.selectedContract.FormsId " type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Status:</strong>
      </div>
         <!-- <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="StatusId" name="StatusId"
        [(ngModel)]="this.selectedContract.StatusId" type="text" aria-label="Full name" > -->
      <div class="bg-white p-2 rounded">

        <select disabled={{this.editable}} [ngClass]="{'no-arrow':this.editable}"  id="Status" name="Status" [(ngModel)]="selectedContract.StatusId"  class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0 custom-select">
          <option [ngValue]="null" disabled selected>Select</option>
          <option  *ngFor="let statuses of status" [ngValue]="statuses.id">{{statuses.value}}</option>
        </select>
      </div>
      <!-- <div>
        <select
          [disabled]="!editable"
          id="Status"
          name="Status"
          [(ngModel)]="selectedContract.StatusId"
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0"
          [ngClass]="{'no-arrow': !editable}"
        >
          <option [ngValue]="null" disabled selected>Select</option>
          <option *ngFor="let status of status" [ngValue]="status.id">{{status.value}}</option>
        </select>
      </div> -->

    </div>
  </div>

  <!-- Dates Section -->
  <div
    *ngIf="activeSection === 'dates'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Dates</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Signing Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input   disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="SigningDate" name="SigningDate"
        [(ngModel)]="this.selectedContract.SigningDate" type="date" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Start Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="StartingDate" name="StartingDate"
        [(ngModel)]="this.selectedContract.StartingDate" type="date" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Termination Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="TerminationDate" name="TerminationDate"
        [(ngModel)]="this.selectedContract.TerminationDate" type="date" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Renewal Date Flag Off:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Jurisdiction" name="Jurisdiction"
        [(ngModel)]="this.selectedContract.RenewalDateFlagOff" type="text" aria-label="Full name" >
      </div>
    </div>
  </div>

  <!-- Classification Section -->
  <div *ngIf="activeSection === 'classification'"  class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg">
    <h3 class="text-lg font-semibold mb-2">Classification</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Type:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="TypeId" name="TypeId"
        [(ngModel)]="this.selectedContract.TypeId" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Category:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <!-- <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="CategoryId" name="CategoryId"
        [(ngModel)]="this.selectedContract.CategoryId" type="text" aria-label="Full name" > -->
        <select disabled="true" [ngClass]="{'no-arrow':this.editable}"  id="CategoryId" name="CategoryId" [(ngModel)]="selectedContract.CategoryId "  class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0 custom-select">
          <option  *ngFor="let category of categoriess" [ngValue]="category.id">{{category.value}}</option>
        </select>
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Annualized Value:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.AutoRenewal }}aa
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Value:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Value" name="Value"
        [(ngModel)]="this.selectedContract.Value" type="text" aria-label="Full name" >
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Liabilities Cap:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="LiabilitiesCap" name="LiabilitiesCap"
        [(ngModel)]="this.selectedContract.LiabilitiesCap" type="text" aria-label="Full name" >
      </div>
    </div>
  </div>

  <!-- Additional Fields Section -->
  <div
    *ngIf="activeSection === 'additionalFields'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Additional Fields</h3>
    <div class="grid grid-cols-4 gap-4">
      <div
        *ngFor="let field of combinedAdditionalFields"
        class="bg-blue-100 p-2 rounded"
      >
        <strong class="opacity-70">{{ field.Value }}:</strong>
        <div class="bg-white p-2 rounded">{{ field.C_Value }}</div>
      </div>
    </div>
  </div>
</div>

<!-- Issues and Notes Section -->
<div class="flex w-full gap-4">
  <!-- Issues Section -->
  <div class="w-1/2 p-4 border bg-blue-100 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Issues</h3>
    <div class="bg-white p-2 rounded">
      <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="OpenIssues" name="OpenIssues"
      [(ngModel)]="this.selectedContract.OpenIssues " type="text" aria-label="Full name" >
    </div>
  </div>

  <!-- Notes Section -->
  <div class="w-1/2 p-4 border border-gray-300 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Notes</h3>
    <div class="bg-white p-2 rounded">
      <input  disabled={{this.editable}} class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-0 px-0 leading-tight focus:outline-none focus:ring-0" id="Notes " name="Notes "
      [(ngModel)]="this.selectedContract.Notes" type="text" aria-label="Full name" >
    </div>
  </div>
</div>
