<div class="flex justify-center items-center mb-4">
  <div class="p-3 border border-gray-300 rounded-lg shadow-md w-1/5">
    <div class="flex items-center">
      <label for="contractSelect" class="mr-2">Select Contract:</label>
      <select
        id="contractSelect"
        class="form-control"
        (change)="onContractChange($event)"
      >
        <option
          *ngFor="let contract of responseContracts"
          [value]="contract.Id"
        >
          {{ contract.ContractCode }}
        </option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="selectedContract" class="flex flex-col items-center mb-4 w-full">
  <!-- New Fields Section -->
  <div class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-lg">
    <h3 class="text-lg font-semibold mb-2">Primary Details</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Counter Party:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.CounterParty }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Counter Party Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.CounterPartyOwner }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Business Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.BusinessOwnerId }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Legal Owner:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.LegalOwnerId }}
      </div>
    </div>
  </div>

  <!-- Section Buttons -->
  <div class="flex w-full">
    <button
      class="flex-1 px-4 py-2 border-b-2 border-r-2 border-gray-300 rounded-t-lg"
      [ngClass]="{
        'bg-white text-blue-500': activeSection === 'focus',
        'bg-slate-300 text-white': activeSection !== 'focus'
      }"
      (click)="setActiveSection('focus')"
    >
      Contract Focus
    </button>
    <button
      class="flex-1 px-4 py-2 border-b-2 border-r-2 border-gray-300"
      [ngClass]="{
        'bg-white text-blue-500': activeSection === 'dates',
        'bg-slate-300 text-white': activeSection !== 'dates'
      }"
      (click)="setActiveSection('dates')"
    >
      Dates
    </button>
    <button
      class="flex-1 px-4 py-2 border-b-2 border-gray-300 rounded-t-lg"
      [ngClass]="{
        'bg-white text-blue-500': activeSection === 'classification',
        'bg-slate-300 text-white': activeSection !== 'classification'
      }"
      (click)="setActiveSection('classification')"
    >
      Classification
    </button>
    <button
      *ngIf="additionalFields.length > 0"
      class="flex-1 px-4 py-2 border-b-2 border-gray-300 rounded-t-lg"
      [ngClass]="{
        'bg-white text-blue-500': activeSection === 'additionalFields',
        'bg-slate-300 text-white': activeSection !== 'additionalFields'
      }"
      (click)="setActiveSection('additionalFields')"
    >
      Additional Fields
    </button>
  </div>

  <!-- Contract Focus Section -->
  <div
    *ngIf="activeSection === 'focus'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Contract Focus</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Account:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Account }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Jurisdiction:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.Jurisdiction }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Client:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Client }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Current:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Current }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Project:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Project }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Link:</strong>
      </div>
      <div class="bg-white p-2 rounded">0</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Form:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.FormId }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Status:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.StatusId }}</div>
    </div>
  </div>

  <!-- Dates Section -->
  <div
    *ngIf="activeSection === 'dates'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Dates</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Signing Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.SigningDate | date }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Start Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.StartingDate | date }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Termination Date:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.TerminationDate | date }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Renewal Date Flag Off:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.RenewalDateFlagOff }}
      </div>
    </div>
  </div>

  <!-- Classification Section -->
  <div
    *ngIf="activeSection === 'classification'"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Classification</h3>
    <div class="grid grid-cols-4 gap-4">
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Type:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.TypeId }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Category:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.CategoryId }}</div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Annualized Value:</strong>
      </div>
      <div class="bg-white p-2 rounded">
        {{ selectedContract.AnnualizedValue }}
      </div>
      <div class="bg-blue-100 p-2 rounded">
        <strong class="opacity-70">Value:</strong>
      </div>
      <div class="bg-white p-2 rounded">{{ selectedContract.Value }}</div>
    </div>
  </div>

  <!-- Additional Fields Section -->
  <div
    *ngIf="activeSection === 'additionalFields' && additionalFields.length > 0"
    class="w-full p-4 border border-gray-300 shadow-md mb-4 rounded-b-lg"
  >
    <h3 class="text-lg font-semibold mb-2">Additional Fields</h3>
    <div class="grid grid-cols-4 gap-4">
      <div
        *ngFor="let field of combinedAdditionalFields"
        class="col-span-4 sm:col-span-2 lg:col-span-1"
      >
        <div class="bg-blue-100 p-2 rounded">
          <strong class="opacity-70">{{ field.FieldName }}:</strong>
        </div>
        <div class="bg-white p-2 rounded">{{ field.Value }}</div>
      </div>
    </div>
  </div>
  <!-- Issues and Notes Section -->
  <div class="flex w-full gap-4">
    <!-- Issues Section -->
    <div class="w-1/2 p-4 border bg-blue-100 shadow-md mb-4 rounded-lg">
      <h3 class="text-lg font-semibold mb-2">Issues</h3>
      <div class="bg-white p-2 rounded">{{ selectedContract.OpenIssues }}</div>
    </div>

    <!-- Notes Section -->
    <div class="w-1/2 p-4 border border-gray-300 shadow-md mb-4 rounded-lg">
      <h3 class="text-lg font-semibold mb-2">Notes</h3>
      <div class="bg-white p-2 rounded">{{ selectedContract.Notes }}</div>
    </div>
  </div>
</div>
