<!-- <div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead>
      <tr>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3">Item</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rows; let i = index" class="bg-gray-200">
        <td class="px-6 py-4 text-center">{{ i + 1 }}</td>
        <td class="px-6 py-4">{{ item.Value }}</td>
        <td class="px-6 py-4 text-center">
          <span class="material-icons" (click)="onEdit(item.Id,item.Value)">edit</span>
        </td>
        <td>
          <span class="material-icons" (click)="onDelete(item.Id)">delete </span>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
